html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.container {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}

.left-panel {
}

.single-item {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.item-name-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-cart-item {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}
